{% extends "layout.html" %}
{% block title %}Subscription Website Builder {% endblock %}

{% block hero %}

  <div class="columns">
    <div class="column has-text-centered-touch">
      <h1 class="title is-1 has-text-white is-size-1-mobile">Subscription Website Builder</h1>
      <h2 class="subtitle has-text-white is-3 is-size-3-mobile">The simple subscription website builder.</h2>
      <p class="has-text-white">Make a subscription based website, taking monthly payments &amp; optional up-front payments.</p><br />
      <a href="/start-building" class="button is-light is-large">Start Building Now for Free</a>
    </div>
    <div class="column">
      <img src="/static/start2.svg" style="display:block; margin-bottom: -75px" />
    </div>
  </div>

{% endblock %}

{% block body %}
<style type="text/css">
    .kcDarkBlue {
	background-color: #1F2944 !important;
    }

    .kcHotCoral {
        background-color: #ED5656 !important;
    }
    .kcAqua {
        background-color: #AADACA !important;
    }
</style>

  <div class="section">
    <div class="container">
      <div class="columns">
          <div class="column is-one-third">
            <h3 class="title is-3">
                <i class="fas fa-money-bill-wave" style="padding-right:1rem;"></i>
                Take Recurring Payments Online
             </h3>
            <p>Easily accept one-off, recurring payments online using our 
               subscription website builder. You can take both fixed and variable 
               recurring payments.<br /><br /> 
               We've lots of helpful guides that are easy to simple to follow.
            </p>
            <hr />
            <h3 class="title is-4">
              <span class="fa-stack">
                <i class="fas fa-coins fa-stack-1x"></i>
                <i class="fas fa-ban fa-stack-2x has-text-danger"></i>
              </span>
              Transaction Fees? Not here.</h3>
            <p>Some online stores take a small cut of each sale, which can ramp 
               up massively when you start shifting lots of products. We don't, 
               so no matter how many subscriptions or products you sell, you can 
               rest easy knowing that your costs remain the same.
            </p>
          </div> <!-- end column is-one-third -->
          <div class="column">
            <div class="section kcDarkBlue">
                <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
                  <div class="column">
                    <h3 class="title is-4 has-text-white">
                      Repeat payments? Simple.
                    </h3>
                    <p class="subtitle is-5 has-text-white">
                    Integrate your GoCardless API to allow customers to sign up 
                    to your subscription service using Direct Debit.
                    </p>
                  </div>
                  <div class="column is-one-third" style="padding:0; text-align:center">
                    <img src="/static/gocardless-white-rgb_2018.svg" style="width:75%; max-height:100px" />
                  </div>
                </div> 
            </div>
            <br />
            <div class="section kcHotCoral">
                <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
                  <div class="column">
                    <h3 class="title is-4 has-text-white">One Off payments? Sorted.</h3>
                    <p class="subtitle is-5 has-text-white">Take one off payments quickly and securely by utilising your Stripe account.</p>
                  </div>
                  <div class="column is-one-third" style="padding:0; text-align:center">
                    <img src="/static/stripe.svg" style="width:75%; max-height:100px" />
                  </div>
                </div>
            </div>
          </div>
        </div>

      <h3 class="title is-3"><i class="fas fa-smile" style="padding-right:1rem;"></i>
        Simple Customer Flow
      </h3>
      <p class="subtitle is-5">We know customers get scared off when confronted with a million different form fields, that's why we keep the onboarding form easy and simple. The 4 step process allows customers to quickly and easily sign up or purchase the items you're selling.</p>

      <div class="columns" style="max-width:1000px; margin:auto">
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/1.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>1. Customer chooses one of your package</b></p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/2.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>2. Customer enters contact info</b></p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/3.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>3. Take one-off/monthly or both payment</b></p>
          </div>
        </div>
        <div class="column">
          <div class="content has-text-centered">
            <img src="/static/steps/4.svg" style="width:100%;" />
            <p class="title is-5" style="margin:2rem 0;"><b>4. Done!</b></p>
          </div>
        </div>
      </div>

    </div>
  </div>

<div class="section">
  <div class="container">

    <div class="columns">
        <div class="column">
          <h2 class="title is-3 has-text-left is-size-4-mobile"><i class="fas fa-bolt" style="padding-right:1rem;"></i>Start selling today</h2>
          <p class="subtitle is-4 has-text-left is-size-5-mobile">Great for products, services and subscriptions</p>
          <p>Perfect for selling your packages or services with a monthly subscription fee. You can also add an optional up-front cost. Simply provide your unique selling points for each item and our subscription website builder does the rest.<br /><br />You focus on making your product
          the best it can be, we'll deal with the website. For every product you add, we'll generate a beautiful product selector, like the one to the right to showcase your amazing products.</p>
        </div>
    </div>
  </div>
</div>

  <div class="section kcAqua is-medium" style="position:relative">
    <div class="container">
      <div class="columns" style="-webkit-box-align: center; -ms-flex-align: center; align-items: center;">
        <div class="column">
          <h3 class="title is-3">Get started now</h3>
          <p class="subtitle is-4">Sign up today and start selling your products, services or subscriptions!</p>
        </div>
        <div class="column is-one-third">
            <a href="/start-building" class="button is-fullwidth is-light is-large">Start building now</a>
        </div>
      </div>
    </div>
  </div>

<br />

  <script>
    $('.pricing-plan').hover(
         function(){ $(this).addClass('is-active') },
         function(){ $(this).removeClass('is-active') }
  )
  </script>

  <script>
    function showHorizontal() {
      document.getElementById('pricing-table-horizontal').style.display = "block";
      document.getElementById('pricing-table-vertical').style.display = "none";
      console.log('Button Clicked!');
    }
    function showVertical() {
      document.getElementById('pricing-table-vertical').style.display = "block";
      document.getElementById('pricing-table-horizontal').style.display = "none";
      console.log('Button Clicked!');
    }
  </script>

  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

{% endblock %}
