{% extends "layout.html" %}
{% block title %} Up-front payment {% endblock %} 

{% block body %} 

<div class="jumbotron jumbotron-fluid">                                          
    <div class="container">                                                      
        <div class="row">                                                        
            <div class="col-sm">                                                 
            <h1 class="display-4">Great choice {{ fname }}!</h1>
            </h2>
            <h2 class="display-6">                                               
            Complete your order below
            </h2>                                                                
            <hr class="my-4">                                                    
             <div class="flashy-container"><div class="flashy"></div></div>      
            </div>                         
        </div>                                      
    </div>                                                                       
</div> 

<div class="container">

<h2>Order Summary:</h2>

<h4>Plan: {{ plan.title|capitalize() }}</h4>
<ul>
    {% for selling_point in plan.selling_points %}
    <li>{{ selling_point.point }}</li>
    {% endfor %}
</ul>

   <h4>Total: 
    <small class="text-muted">
        &pound; {{ "%.2f"|format(plan.sell_price/100) }}
    </small>
   </h4>
   
	<script src="/static/up_front.js"></script>
    <form action="/up_front" method="post" id="payment-form" 
          class="text-center">
      <input id="sid" name="sid" type="hidden" value="{{ sid }}" />
      <input id="package" name="package" type="hidden" value="{{ package }}" />

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ stripe_pub_key }}"
            data-description="{{ company.name }} - {{ package }}"
            data-currency="gbp"
            data-amount="{{ upfront_cost }}"
            data-locale="auto">
    </script>
    </form>
</div>
{% endblock %}
